name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    -
      name: Get repository
      uses: actions/checkout@v3
    - 
      name: Install x86_64-unknown-linux-musl toolchain
      run: rustup target add x86_64-unknown-linux-musl
    -
      name: Install OpenSSL
      run: sudo apt install -y libssl-dev
    -
      name: Build binary
      run: cargo build --release --target x86_64-unknown-linux-musl
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    -
      name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Build and push (tag as latest and with commit hash)
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/tmn:latest, ${{ secrets.DOCKERHUB_USERNAME }}/tmn:${{ github.sha }}
